<div class="nav">
    <h3 class="nav-title">Menu</h3>
    <a href="#" class="nav-close">
        <span class="hidden">Close</span>
    </a>
    <ul>
        {{#foreach navigation}}
            <li class="nav-{{slug}}{{#if current}} nav-current{{/if}}" role="presentation"><a href="{{url absolute="true"}}">{{label}}</a></li>
        {{/foreach}}
        <li role="presentation">
            <a href="https://leonardy.co">Portfolio</a>
            <a href="https://github.com/leonardykris">GitHub</a>
            <a href="https://linkedin.com/in/leonardykris">LinkedIn</a>
            <a href="https://medium.com/@leonardykris">Medium</a>
            <a href="https://twitter.com/leonardykris">Twitter</a>
        </li>
    </ul>
    {{!-- <a class="subscribe-button icon-feed" href="{{@blog.url}}/rss/">Subscribe</a> --}}
</div>
<span class="nav-cover"></span>
